.parent{
    background-color: lightsteelblue;
    color: black;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    border-radius: 20px;
}

.formtitle{
    display: flex;
    justify-content: center;
}

.subbtn{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.subbtnc{
    height: 30px;
    width: 50%;
    color: white;
    background-color: darkred;
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.flable{
    margin: 0px 5px 0px 0px;
}