

<div class="parent">
    <form>

        <div class="formtitle">
            <h4>LOGIN</h4>
        </div>

        <div>
            <label for="email" class="flable">Email</label>
            <input type="email" placeholder="eg abc@gmail.com" name="email" [(ngModel)]="registerUserEmail">
        </div>

       <div>
        <label for="password" class="flable">Password</label>
        <input type="password" name="password" [(ngModel)]="registerUserPassword" >
       </div>

       <div class="formtitle">
        <h4>Not user <a (click)="goRegister()" style="color:red;">register</a> now</h4>
       </div>

        <div class="subbtn">
            <button type="submit" class="subbtnc" (click)="loginSubmit()">SUBMIT</button>
        </div>

    </form>
    

</div>