<div class="parent">
    <form>

        <div class="formtitle">
            <h4>LOGIN</h4>
        </div>

        <div>
            <label for="email" class="flable">Email</label>
            <input type="email" placeholder="eg abc@gmail.com">
        </div>

       <div>
        <label for="password" class="flable">Password</label>
        <input type="password" >
       </div>

       <div class="formtitle">
        <h4>Not user <a href="/register">register now</a></h4>
       </div>

        <div class="subbtn">
            <button type="submit" class="subbtnc">SUBMIT</button>
        </div>

    </form>
    

</div>