<div class="parent">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="formtitle">
            <h4>REGISTER</h4>
        </div>

        <div>
            <label for="email" class="flable">Email</label>
            <input type="email" placeholder="eg abc@gmail.com" formControlName="emailv">
        </div>

       <div>
        <label for="password" class="flable">Password</label>
        <input type="password" formControlName="passv">
       </div>

       <div>
        <label for="status" class="flable">EMP</label>
        <select class="selected"  formControlName="empv">
            <option  disabled>Select Role</option>
            <option *ngFor="let c of empArr" [ngValue]="c.id">{{c.role}}</option>
        </select>

       </div>

       <div class="formtitle">
        <h4>back to <a href="/login">login</a></h4>
       </div>

        <div class="subbtn">
            <button type="submit" class="subbtnc" [disabled]="!registerForm.valid" appBtnborder>SUBMIT</button>
        </div>

    </form>
    

</div>