<div class="main">
    <div class="navbtns">
        <button class="btnbh" (click)="back()">Back</button>
        <button class="btnbh" (click)="gotohome()">Home</button>
    </div>

        <div class="parent">
            <form [formGroup]="crudForm" (ngSubmit)="onSubmit()">
        
                <div class="formtitle">
                    <h4>Add New User</h4>
                </div>
        
                <div>
                    <label for="namev" class="flable">Name</label>
                    <input type="text"  formControlName="namev">
                </div>
        
               <div>
                <label for="numberv" class="flable">Number</label>
                <input type="text" formControlName="numberv" maxlength="10">
               </div>
        
               <div>
                <label for="sportv" class="flable">Sport</label>
                <select class="selected"   formControlName="sportv">
                    <option  disabled>Select Sport</option>
                    <option *ngFor="let s of sportArr" [ngValue]="s.game">{{s.game}}</option>
                </select>
        
               </div>
        
                <div class="subbtn">
                    <button type="submit" class="subbtnc" [disabled]="!crudForm.valid" appBtnborder>SUBMIT</button>
                </div>
        
            </form>
            
        
        </div>




  
</div>