.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3{
    color: black;
    animation-name: h3color;
    animation-duration: 4s;
}

@keyframes h3color {
    from {color: red;}
    to {color: yellow;}
  }

h4{
    text-align: center;
}

.crudbtn{
    background: none;
    border: none;
    cursor: pointer;
}

.header{
    display: flex;
}

.hbtns{
    margin: auto;
    background: none;
    border: none;
    width: 50%;
    background: aqua;
    border-radius: 5px;
}


