.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3{
    color: black;
    animation-name: h3color;
    animation-duration: 4s;
}

@keyframes h3color {
    from {color: red;}
    to {color: yellow;}
  }